@charset "UTF-8";

*{
	margin: 0;
	padding : 0;
}

.container {
	margin-left: 500px;
	width: 400px;
	height: 400px;
	display: flex;	
	align-items: center;
    justify-content: space-between;
	
}

.col-1{
    margin: 10px;
    padding: 10px;
    flex:2;
    text-align: center;
}

.col-2{
    margin: 10px;
    padding: 10px;
    flex:2;
    text-align: center;
}

.time{
	color:green;
}

.date{
	color:blue;
}
